---
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Netlify Aldo</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <slot />
  </body>
</html>
